.banner
  background-color rgb(233, 233, 233)
  width 100%

.banner__content
  width 960px
  margin 0 auto
  display flex

.banner__left-side
  width 50%

.banner__right-side
  width 50%
  padding 150px 0

.banner__title
  font-size 38px
  line-height 48px

.banner__description
  font-size 18px
  line-height 28px
  color rgb(120, 120, 120)
  font-family Regular

.banner__button
  padding 16px 0
  width 180px
  font-size 12px
  text-transform uppercase
  color white
  background-color rgb(16, 201, 195)
  border none
  border-radius 0
  opacity 1
  transition opacity 0.2s linear
  &:hover
    cursor pointer
    opacity 0.6