.form
  width 100%
  background-color rgb(238, 238, 238)

.form__content
  width 650px
  margin 0 auto
  padding 100px 0

.form__title
  font-size 30px
  text-align center

.form__description
  text-align center
  color #787878
  font-size 16px
  font-family Regular
  margin 3rem 0

.form__container
  display grid
  grid-template-columns 1fr 1fr
  grid-gap 24px

.form__input
  border none
  border-radius 0
  padding 12px
  font-size 14px

.form__input_big
  grid-column 1 / span 2

.form__textarea
  grid-column 1 / span 2
  border none
  border-radius 0
  padding 12px
  font-size 14px

.form__btn-container
  display flex
  justify-content center
  grid-column 1 / span 2
  padding-top 24px

.form__button
  padding 16px
  font-size 12px
  text-transform uppercase
  border none
  background-color rgb(16, 201, 195)
  color white
  transition all .1s linear
  &:hover
    opacity 0.6

.form__errors
  text-align center
  color red
  font-size 16px
  font-family Regular

.form__success
  text-align center
  color green
  font-size 16px
  font-family Regular