.header
  background-color rgb(233, 233, 233)
  width 100%

.header__content
  width 960px
  margin 0 auto
  height 64px
  display grid
  grid-template-columns auto 1fr
  align-content center

.header__logo
  width 31px
  height 25px

.header__menu
  height 100%
  display grid
  grid-template-columns repeat(7, auto)
  grid-gap 16px
  justify-content flex-end
  align-content center

.header__menu-item
  text-transform uppercase
  font-size 12px
  line-height 2

.header__menu-item_active
  color rgb(16, 201, 195)