@import 'header.styl'
@import 'banner.styl'
@import 'about.styl'
@import 'skills.styl'
@import 'numbers.styl'
@import 'work.styl'
@import 'work-process.styl'
@import 'services.styl'
@import 'footer.styl'

@font-face
  font-family Medium
  font-style normal
  src url(fonts/Montserrat-Medium.ttf)

@font-face
  font-family Regular
  font-style normal
  src url(fonts/NunitoSans-Regular.ttf)

body
html
  font-size 10px
  overflow-x hidden
  scroll-behavior smooth
  font-family Medium
  width 100%
  margin 0

body
  -webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
  cursor default
  color black !important
  line-height 1.5
  position relative
  display flex
  min-height 100vh
  flex-direction column
  width 100%
  background-color white