.skills
  background-color rgb(233, 233, 233)
  width 100%

.skills__content
  width 960px
  margin 0 auto
  display flex

.skills__left-side
  width 50%
  padding 100px 0

.skills__right-side
  width 50%

.skills__title
  font-size 30px
  line-height 2.8

.skills__subtitle
  font-size 12px
  line-height 2.5
  text-transform uppercase

.skills__progress1
  width 80%
  height 3px
  background linear-gradient(to right, rgb(16, 201, 195) 0%, rgb(16, 201, 195)75%, rgb(216, 216, 216) 75%, rgb(216, 216, 216) 100%);

.skills__progress2
  width 80%
  height 3px
  background linear-gradient(to right, rgb(16, 201, 195) 0%, rgb(16, 201, 195)90%, rgb(216, 216, 216) 90%, rgb(216, 216, 216) 100%);

.skills__progress3
  width 80%
  height 3px
  background linear-gradient(to right, rgb(16, 201, 195) 0%, rgb(16, 201, 195)65%, rgb(216, 216, 216) 65%, rgb(216, 216, 216) 100%);