.testimonials
  width 100%
  background-color rgb(16, 201, 195)

.testimonials__content
  width 960px
  margin 0 auto
  padding 150px 0 50px 0

.testimonials__text
  color white
  margin 0 auto
  text-align center
  max-width 65%
  line-height 2
  font-size 18px

.testimonials__author
  color white
  font-size 12px
  line-height 3
  text-transform uppercase
  text-align center
  margin-top 50

.testimonials__pagination
  height 12px
  margin-top 50px
  display flex
  align-items center
  justify-content center

.testimonials__dot
  width 6px
  height 6px
  background-color white
  border-radius 100px
  margin 0 4px
  cursor pointer

.testimonials__dot_active
  width 10px
  height 10px