.work-process
  width 100%

.work-process__content
  width 960px
  margin 0 auto
  padding 100px 0

.work-process__title
  font-size 30px
  line-height 2
  text-align center

.work-process__subtitle
  font-size 16px
  text-align center
  font-family Regular
  color rgb(120, 120, 120)

.work-process__video
  width 100%
  background-color rgb(233, 233, 233)
  height 500px
  display flex
  justify-content center
  align-items center

.work-process__play-icon
  width 66px
  height 66px
  display flex
  justify-content center
  align-items center
  background-color rgb(16, 201, 195)
  border-radius 100px
  cursor pointer
  img
    width 8px
    transition all .1s linear
  &:hover
    img
      width 12px